#environment
venv/
.env
requirements.txt

#python and pytest
**/*pycache
**pycache**
**/*.pyc
*.pytest_cache
*test_timestamp_table.json*
*.coverage*
*test_table.json*

#terraform
**/.terraform*
terraform/init.sh
*.tfstate*

#area for files to be deployed to AWS
terraform-remote-deployment/

*.zip
